body {
    margin: 0;
    background-color: #2C2C2C;
}

div {
    display: flex;
}

/*=====Mobile=====*/
/*.mobile_btn {*/
/*    display: none;*/
/*}*/

/*@media (max-width: 900px) {*/
/*    .mobile_btn {*/
/*        display: block;*/
/*        position: absolute;*/
/*        right: 10px;*/
/*        top: 27px;*/
/*        cursor: pointer;*/
/*        z-index: 10;*/
/*    }*/

/*    .menu {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: center;*/
/*        position: fixed;*/
/*        left: -100%;*/
/*        right: 0;*/
/*        top: 0;*/
/*        bottom: 0;*/
/*        width: 100%;*/
/*        height: 100vh;*/
/*        background-color: #f8f8f8;*/
/*        z-index: 10;*/
/*        transition: left 1s;*/
/*    }*/

/*    .active {*/
/*        left: 0;*/
/*    }*/

/*    .menu a {*/
/*        font-size: 28px;*/
/*    }*/
/*}*/


/*=====Header=====*/

.main{
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 40px;
}

.header {
    max-width: 1200px;
    width: 100%;
    height: 100px;
    border-bottom: solid #fff;
}

.header h1 {
    display: flex;
    align-items: center;
    color: #fff;
}

.header img {
    height: 40px;
    padding: 10px;
    margin: auto 0;
}

.header--icons {
    height: 100%;
    width: 200px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 0 0 auto;
}

.header--icons img {
    height: 30px;
}

.container__profile {
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    align-items: center;
    margin: 0;
}

/*=====About=====*/

.about__me {
    width: 100%;
    height: 90px;
    border-bottom: solid 1px #fff;
    margin: 20px;
    align-items: center;
    padding-bottom: 20px;
}

.about__me h2 {
    margin: 0;
    color: #fff;
}

.about__me p {
    margin: 0;
    color: #fff;
}

.about__me span {
    margin: 0;
    color: #fff;
}

.about__me img {
    width: 90px;
    height: 90px;
}

.about--info {
    flex-direction: column;
    margin-left: 20px;
    gap: 10px;
    justify-content: center;
}

/*=====progressAndHours=====*/
.progressAndHours {
    height: 150px;
    width: 100%;
    gap: 50px;
    justify-content: space-between;
}

.progress {
    background-color: #3B3F3F;
    border-radius: 20px;
    width: 45%;
    height: 150px;
}

.hours {
    background-color: #3B3F3F;
    border-radius: 20px;
    width: 55%;
    height: 150px;
}

/*=====history=====*/
.history {
    margin-top: 50px;
    height: 150px;
    width: 100%;
}

.history__item {
    height: 150px;
    background-color: #3B3F3F;
    border-radius: 20px;
    width: 100%;
}

.footer {
    margin: 20px;
    height: 150px;
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.footer img {
    height: 40px;
}

.footer h1 {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 10px;
    margin: 0;
}

.footer--icons {
    gap: 20px;

}

.footer p {
    color: #fff;
    margin: 0;
}


/*=====Media=====*/
@media screen and (max-width: 800px) {
    .header {
        display: none;
    }

    .progressAndHours {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        gap: 20px;
        height: 300px;
    }

    .progress {
        background-color: #3B3F3F;
        width: 100%;
        height: 150px;
    }

    .hours {
        background-color: #3B3F3F;
        width: 100%;
        height: 150px;
    }

    .history {
        margin-top: 20px;
    }
}