body {
    margin: 0;
}

div {
    display: flex;
}

.container {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login img {
    height: 60px;
}

.login h1 {
    display: flex;
    color: #000;;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    margin: 15px 0 0;
}

.login span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: #000000;
    margin: 25px 0 20px;
}

.input--field {
    justify-content: center;
    margin-bottom: 20px;
}

.input--field input {
    border: none;
    background: #F5F5F5;
    border-radius: 25px;
    padding: 10px 60px 10px 45px;
    width: 250px;
}

.choose {
    justify-content: center;
    gap: 120px;
}

.choose a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}

.gray {
    color: #808080;
}

.black {
    color: #000000;
}

.login button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 200px;
    height: 47px;
    background: #4FAFA1;
    border: 1px solid #808080;
    border-radius: 20px;
    cursor: pointer;
    align-self: center;
    margin-top: 30px;
}

.login button span {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}